* {box-sizing: border-box}
body {
  font-family: Verdana, sans-serif; margin:0;
  background: linear-gradient(to right, #43cea2, #185a9d);
}
.mySlides {display: none}
img {vertical-align: middle;}
.topper-layout {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.topper-menu--li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topper-menu--li li {
  margin-right: 30px;
  list-style-type: none;
  color: #fff;
}
.topper-menu--li li a {
    color: #fff;
    text-decoration: none;
}
.topper-menu--li li a:hover {
    color: #000;
}
.topper-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    margin-right: 30px;
}
img#mainphoto {
 width: 100%;	
}
/* Контейнер слайд-шоу */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Вперед и назад кнопки */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Расположение кнопки "вперед" справа */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении курсора мыши добавьте черный цвет фона с небольшим прозрачным слоем */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Название фото-текста */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Номер текста (1/5 и т.д.) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Точки */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Исчезающая анимация */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}